body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .2rem;
  width: 650px;
  margin: 0 auto;
}

h1,
h2 {
  background-color: honeydew;
  text-align: center;
  color: darkcyan;
}

ul {
  font-size: larger;
  border: 2px solid rebeccapurple;
  padding: .5em;
  list-style: none;
}

ul.flex {
  display: flex;
}

img {
  height: auto;
  width: 200px;
  box-align: center;
}

p ol {
  letter-spacing: normal;
}

.block{
background-color:rgb(229, 231, 235);
margin: 1px;
padding: .5em;
display: block;
text-align: center;
}