body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .2rem;
  width: 650px;
  margin: 0 auto;
}

h1,
h2 {
  background-color: honeydew;
  text-align: center;
  color: darkcyan;
}

ul {
  font-size: larger;
    /* use text-indent?*/
}

img {
  height: auto;
  width: 200px;
  box-align: center;
}

p ol {
  letter-spacing: normal;
}