body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .2rem;
  max-width: 650px;
  /*Use max-width so when used on mobiles, or when the width is smaller than the assigned one, it will adjust, if not a scroll bar will appear*/
  margin: 0 auto;
}

h1,
h2 {
  background-color: honeydew;
  text-align: center;
  color: darkcyan;
}

ul {
  font-size: larger;
  border: 2px solid rebeccapurple;
  padding: .5em;
list-style-position: inside;
/* list-style: none; para que no aparezcan los cuadrados de la lista */
}

ul.flex {
  display: flex;
}

img {
  height: auto;
  width: 200px;
  box-align: center;
}

p ol {
  letter-spacing: normal;
}

.block{
background-color:rgb(229, 231, 235);
margin: 1px;
padding: .5em;
display: block;
text-align: center;
}